body{
    background-color: black;
}

.container{
    text-align: center;
    margin-top: 5%;
    font-size: larger;
    color: rgb(25, 39, 39);
}

h1{
    background-color: rgba(160, 194, 221, 0.849);
}

table{
    padding: 25px;
    margin: auto;   
}

input{
    margin-top: 2px;
    font-size: 28px;
    border: 5px solid aqua;
    border-radius: 10px;
}

button{
    cursor: pointer;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    color: aqua;
    width: 70px;
    height: 75px;
    border-radius: 10px;
}

.calculator{
    display: inline-block;
    background-color: rgba(10, 10, 10, 0.918);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 8px 8px 210px 10px rgba(33,211,190,0.62);
    -webkit-box-shadow: 8px 8px 210px 10px rgba(33,211,190,0.62);
    -moz-box-shadow: 8px 8px 210px 10px rgba(33,211,190,0.62);
}

button:hover{
    border-color: #b5f0ec; 
    border-radius: 2px;
    }
    